* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	/* background-color: rgb(34, 139, 25); */
	background: url(wall.jpg);
	background-size: cover;
}
.head {
	margin: 30px;
	color: rgb(229, 233, 18);
	text-align: center;
	background-color: rgba(0, 0, 0, 0.4);
}
h1 {
	font-size: 5vw;
	text-align: center;
}
@media screen and (max-width: 440px) {
	h1 {
	font-size: 30px;
	}
}

.thanks {
	margin: 20px;
	font-size: 25px;
}
input[type="radio"] {
	margin: 10px;
}
input[type="checkbox"] {
	margin: 10px;
}
.form-container {
	margin: 0 auto;
	background-image: linear-gradient(to bottom right,rgb(248, 248, 10), rgb(241, 248, 149));
	width: 50vw;
	height: auto;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 250px;
}
#personal {
	color: rgb(15, 75, 9);
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	text-align: center;
	margin: 20px;
}

label {
	color: rgb(15, 75, 9);
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 23px;
	line-height: 32px;
}
/* .details {
	display: flex;
	justify-content: center;
} */

#age {
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
.gender {
	margin-top: 30px;
	display: flex;
	justify-content: center;
}

#genderchange {
	margin-top: -15px;
	margin-left: 15px;
	font-size: 18px;
}

/* personal vége */
.main-form {
margin: 40px auto;
background-image: linear-gradient(to bottom right,rgb(248, 248, 10), rgb(241, 248, 149));
width: 65vw;
height: auto;
border-radius: 10px;
display: flex;
justify-content: center;
min-width: 300px;
}

/*  */
.second {
	margin: 40px;
	font-size: 20px;
	width: 79vw;
}
#second {
	text-align: left;
}
#questions {
	margin-top: -10px;
	line-height: 25px;
}
#answers {
	margin-bottom: -15px;
	margin-top: 20px;
	font-weight: 500;
	line-height: 38px;
}

#dropdown-list {
	font-size: 20px;
	margin: 10px;
	color: black;
	font-weight: lighter;
	font-family: 'Times New Roman', Times, serif;
}

.submit {
	display: flex;
	justify-content: center;
	margin: 20px;
}

/* button */
button {
  font-size: 2em;
  background: rgb(229, 233, 18);
  color: rgb(34, 139, 25);
  border: 0.25rem solid rgb(229, 233, 18);
	border-radius: 10px;
  padding: 0.85em 0.75em;
  margin: 1rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
button:hover {
  color: rgb(229, 233, 18);
	cursor: pointer;
}
button::after {
  content: "";
  background: rgb(72, 185, 170);
  position: absolute;
  z-index: -1;
  padding: 0.85em 0.75em;
  display: block;
}

button[class^="grow"]::after {
  transition: all 0.25s ease;
}
button[class^="grow"]:hover::after {
  transition: all 0.25s ease-out;
}
button.grow_box::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scale(0, 0);
}
button.grow_box:hover::after {
  transform: scale(1, 1);
}
/* button end */


input[type=text] {
	background-color: rgb(44, 180, 26);
	height: 25px;
	margin: 10px;
      border: none; /* <-- This thing here */
      /* border:solid 1px #ccc; */
      border-radius: 5px;
	font-size: 17px;
	color:rgb(58, 52, 52);
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(53, 51, 51);
  opacity: 1; /* Firefox */
}
input[type=number] {

	background-color: rgb(44, 180, 26);
	height: 25px;
	width: 50px;
	margin-left: 15px;
	margin-top: 4px;
      border: none; /* <-- This thing here */
      /* border:solid 1px #ccc; */
      border-radius: 5px;
	font-size: 17px;
	color:rgb(53, 51, 51);
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(53, 51, 51);
  opacity: 1; /* Firefox */
}


#empty {
	text-align: center;
	font-size: 38px;
	color: rgb(15, 75, 9);
	font-weight: bold;
}