* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: rgb(34, 139, 25);
}
.head {
	margin: 30px;
	color: rgb(229, 233, 18);
	text-align: center;
}
h1 {
	font-size: 40px;
	text-align: center;
}
.thanks {
	margin: 20px;
	font-size: 20px;
}
input[type="radio"] {
	margin: 10px;
}
input[type="checkbox"] {
	margin: 10px;
}
.form-container {
	margin: 0 auto;
	background-color: rgb(229, 233, 18);
	width: 50vw;
	height: auto;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	min-width: 250px;
}
#personal {
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	text-align: center;
	margin: 20px;
}

label {
	color: rgb(34, 71, 31);
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	margin: 5px;
}
#age {
	margin: 30px;
}
.gender {
	margin: 10px;
	display: flex;
	justify-content: center;
}

/* personal vége */
.main-form {
margin: 20px auto;
background-color: rgb(229, 233, 18);
width: 85vw;
height: auto;
border-radius: 10px;
display: flex;
justify-content: center;
}

.first {
	margin: 30px;
	line-height: 25px;
	font-size: 18px;
}

#first {
	text-align: center;
	line-height: 30px;
}

/*  */
.second {
	margin: 20px;
	font-size: 18px;
	line-height: 25px;
	width: 79vw;
}
#second {
	text-align: left;
}

#dropdown-list {
	margin: 10px;
	color: black;
	font-weight: lighter;
	font-family: 'Times New Roman', Times, serif;
}

.submit {
	display: flex;
	justify-content: center;
	margin: 20px;
}

/* button */
button {
  font-size: 2em;
  background: rgb(229, 233, 18);
  color: rgb(34, 139, 25);
  border: 0.25rem solid rgb(229, 233, 18);
	border-radius: 10px;
  padding: 0.85em 0.75em;
  margin: 1rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
button:hover {
  color: rgb(229, 233, 18);
	cursor: pointer;
}
button::after {
  content: "";
  background: rgb(34, 139, 25);
  position: absolute;
  z-index: -1;
  padding: 0.85em 0.75em;
  display: block;
}

button[class^="grow"]::after {
  transition: all 0.25s ease;
}
button[class^="grow"]:hover::after {
  transition: all 0.25s ease-out;
}
button.grow_box::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scale(0, 0);
}
button.grow_box:hover::after {
  transform: scale(1, 1);
}
/* button end */

